body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../IMG/93c8bd283037c64e7b1d0b40414a99f3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
/* Our custom font */
@font-face{
    /* name our font */
    font-family: FontNo1;
    /* Our path to the font  */
    src: url("../Fonts/DancingScript-VariableFont_wght.ttf");
}
/* Our custom font */
@font-face{
    /* name our font */
    font-family: FontNo2;
    /* Our path to the font  */
    src: url("../Fonts/KaushanScript-Regular.ttf");
}
/* Our custom font */
@font-face{
    /* name our font */
    font-family: FontNo3;
    /* Our path to the font  */
    src: url("../Fonts/SeaweedScript-Regular.ttf");
}
.header{
    overflow: hidden;
    background-color: rgba(14, 66, 100, 0.3);
}
img{
    padding-top: 5px;
    padding-left: 5px;
    height: 52px;
    width: auto;
}
a{
    float: right;
    font-style: italic;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
}
section{
    top: 20px;
}
.blink 
 {	/* Adding Blink on text */
        animation: blinker 1.5s linear infinite;
        color: #b3c2bd;
        text-align: center;
	    font-weight: bold;
	    font-family: FontNo3;
        font-size: 3.8em;
        font-weight: bold;
        letter-spacing: 3px;
        text-shadow: 3px 3px 3px #a8a3a3;
 }
      @keyframes blinker 
	  {
        50% 
		{
          opacity: 0;
        }
      }
.lyrics{
    padding: 0px 100px;
    text-align: center;
}
.lyrics div{
    padding: 20px 0px;
    line-height: 4px;
}
p{
    text-align: center;
    letter-spacing: 1.5px;
}
.lyrics div:nth-child(odd){
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(58, 56, 56, 0.5); /* Black background with 0.5 opacity */
}
.lyrics div:nth-child(even){  
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(123, 119, 119, 0.5); /* Black background with 0.5 opacity */       
}
main .lyrics div p::first-letter{
    font-weight: 400;
    font-size: 32px;
    text-shadow: 2px 2px 2px #a8a3a3;
}
.lyrics div p:nth-child(odd){
    font-family: FontNo1;
    color: rgb(161, 246, 217);
    font-size: 1.5em;
}
.lyrics div p:nth-child(even){
    font-family: FontNo2;
    color: #d7c9c9;
    font-size: 1em;
}
.lyrics div p:nth-child(even)::first-letter{
    color: rgb(161, 246, 217);
}
.lyrics div p:nth-child(odd)::first-letter{
    color: #d7c9c9;
}
span{
    font-family: FontNo3;
    font-size: 40px;
    text-shadow: 2px 2px 2px #736060;
}
.part1 span{
    color: rgb(10, 163, 10);
}
.part2 span{
    color: rgb(52, 139, 177);
}
.part3 span{
    color: rgb(173, 96, 225);
}
.part4 span{
    color: rgb(206, 119, 154);
}
.part6 span{
    color: rgb(215, 170, 93);
}
.part8 span{
    color: rgb(208, 110, 115);
}
